<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= CountriesUser.count_of_visited_countries(current_user) %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= CountriesUser.count_of_unvisited_countries(current_user) %></td>
      </tr>
    </table>
  </div>
</section>
  <h3>Currencies for <%= current_user.email %></h3>
  <%= form_for @currency_f do |f| %>
  <%=f.submit "Mark all checked as collected"%>
  <table class="order-table table">
    <thead>
    <tr>
      <th>Name <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"></th>
      <th>Code</th>
      <th>Status</th>
      <th><input type="checkbox" class="check_all"></th>
    </tr>
    </thead>

  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td><%= link_to 'Show', currency %></td>
      <td><%= check_box_tag "country[]", currency.country_id%></td>
    </tr>
  <% end %>
  <%end%>
  </table>