<%= render "layouts/drawgraph"%>
  <h3>Currencies for <%= current_user.email %></h3>
  <%= form_for @currency_f,remote:true do |f| %>
  <%=f.submit "Mark all checked as collected"%>
  <table class="order-table table">
    <thead>
    <tr>
      <th>Name <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"></th>
      <th>Code</th>
      <th>Status</th>
      <th><input type="checkbox" class="check_all"></th>
    </tr>
    </thead>

  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td><%= link_to 'Show', currency %></td>
      <td><%= check_box_tag "country[]", currency.country_id%></td>
    </tr>
  <% end %>
  <%end%>
  </table>