<% puts "#"*80 %>
<%  puts "count of visited= #{CountriesUser.count_of_visited_countries(current_user)}"%>
<% puts "count of not visited= #{CountriesUser.count_of_unvisited_countries(current_user)}" %>
<% puts "#"*80 %>
<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= CountriesUser.count_of_visited_countries(current_user) %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= CountriesUser.count_of_unvisited_countries(current_user) %></td>
      </tr>
    </table>
  </div>
</section>
  <h3>Countries for <%= current_user.email %></h3>
  <%= form_for @countries_user do |f| %>
    <%=f.hidden_field :user, :value=>current_user.email %>
    <%=f.submit "Mark all checked as visited"%>
    
  <table class="order-table table">
    <thead>
    <tr>
      <th>Name <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"></th>
      <th>Code</th>
      <th>Status</th>
      <th>detail</th>
      <th></th>
      <th><input type="checkbox" class="check_all"></th>
    </tr>
    </thead>
  <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.code %></td>
      <td><%= CountriesUser.visited?(current_user,country.code) ? 'Visited' : 'Not Visited' %></td>
      <td><%= link_to 'Show', country %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
      <td><%= check_box_tag "country[]", country.code%></td>
    </tr>
  <% end %>
        <% end %>
  </table>
