<div class="graphics">
<%= render "layouts/drawgraph"%>
</div><!-- .div class graphics-->
  <h3>Countries for <%= current_user.email %></h3>
  <%= form_for @countries_user, remote: true do |f| %>
    <%=f.hidden_field :target ,:value=>'countries'%>
    <%=f.submit "Mark all checked as visited"%>


      <table class="order-table table">
        <thead>
        <tr>
          <th>Name <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"></th>
          <th>Code</th>
          <th>Status</th>
          <th>detail</th>
          <th></th>
          <th><input type="checkbox" class="check_all"></th>
        </tr>
        </thead>
        <%= render @countries %>
      </table>
  <% end %>