<table>
  <tr>
    <th>V=<%= CountriesUser.count_of_visited_countries(current_user) %></th>
    <td><%= CountriesUser.count_of_visited_countries(current_user) %></td>
  </tr><tr>
  <th>N/V=<%= CountriesUser.count_of_unvisited_countries(current_user) %></th>
  <td><%= CountriesUser.count_of_unvisited_countries(current_user) %></td>
</tr>
</table>
 new LineChart(<%= raw CountriesUser.prepare_graphic_data(current_user) %>, 'chart_div')