<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <% if user_signed_in? %>
      <h1>CurrencyTracker</h1>
      <nav>
        <ul>
          <li><%= link_to "Currencies", currencies_path %></li>
          <li><%= link_to "Countries", countries_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method:"delete"%></li>
        </ul>
      </nav>
  <% else %>
      <h1>Welcome visitor</h1>
  <% end %>
</header>

<%= yield %>

<footer style="background: #333; color: white" >
  CurrencyTracker &copy; Copyright 2011 by Smart Enterprises.
</footer>
</body>
</html>
